body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#page-header {
    background-color: white;
    max-height: 100%;
    padding: 10px;
    position: fixed; 
    font-weight: 300;
    font-size: 18px;
    color:black; 
    right: 0;
    left: 0;
}
#header {
    padding: 90px 10px 40px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-color: rgb(244, 226, 229); 
    font-weight: 300;
    font-style: italic;
}
.section {
    height: 50vh;
}
ul {
    display: flex;
    justify-content: space-evenly;
}
li {
   list-style: none;
}
 a {
     text-decoration: none;
     text-transform: uppercase;
 }

.page-header ul li a.active {
    background: lightblue;
}

.page-header ul li:hover a {
    background: lightblue;
}

.section1, .section2, .section3, .section4 {
min-height: 70vh; 
display: flex;
justify-content: center;
border-top: 5px dotted lightpink;
padding: 30px;
}

img {
    height: 250px;
    width: 340px;
    text-align: center;
}

#caption {
    font-size: .8em;
}
#art1 {
    padding: 0px 35px;
    text-align: center;
    font-size: 1.1em;
}

#contact1 {
    
}

.card {
    border: none !important;
}